.left_block {
  padding-left: 1rem;
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 115%;
    color: #000000;
    margin-bottom: 2rem;
  }
  .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 130%;
    color: #000000;
    margin-bottom: 4.4rem;
  }
  .button {
    width: fit-content;
    margin-left: -1rem;
  }
}
.h1_wrapper {
  .h1_title {
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 130%;
    text-align: center;
    color: #000000;

    &.h2_title {
      margin-top: 10rem;
    }
    // margin-bottom: ;
  }
  .h1_subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 3.6rem;
    line-height: 130%;
    text-align: center;
    color: #000000;
  }
  .button {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    .btn {
      width: 22.3rem;
      height: 5.6rem;
      font-style: normal;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 0rem;
      color: #ffffff;
    }
  }
}

.icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
  margin-top: 6rem;
  .icon {
    width: 15rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &.eth {
      height: 9rem;
      width: 17rem;
    }
    &.btc {
      height: 11rem;
      width: 19rem;
    }
    &.ltc {
      height: 3rem;
    }
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
    }
  }
}

.slide {
  width: inherit;
  height: inherit;
  box-sizing: border-box;
  padding: 4.5rem 4rem 5.3rem;
  .slide_title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.5rem;
    color: #000000;
    margin-bottom: 0.7rem;
  }
  .slide_text {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 2.9rem;
    color: #9b9b9b;
  }
}

.price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .title {
    font-style: normal;
    font-weight: 700;
    font-size: 4.8rem;
    line-height: 7.1rem;
    color: #000000;
    margin-bottom: 5.5rem;
    text-align: center;
  }
  .content {
    display: flex;
    gap: 6.4rem;
    .left,
    .right {
      width: 52rem;
      height: 45.3rem;
      box-sizing: border-box;
      border-radius: 20px;
      padding: 3.6rem 3.5rem;
    }
    .left {
      background: #33a9ff;
    }
    .right {
      padding-bottom: 4.7rem;
      background: #000000;

      .content_title {
        margin-bottom: 11rem;
      }
    }

    .content_title {
      font-style: normal;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 4.7rem;
      color: #ffffff;
      margin-bottom: 0.7rem;
    }
    .content_list {
      margin-bottom: 2.9rem;
      padding-left: 2.5rem;
      li {
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.5rem;
        color: #ffffff;
        &::marker {
          font-size: 1.5rem;
        }
      }
    }
    .content_bottom_title {
      font-style: normal;
      font-weight: 800;
      font-size: 4.8rem;
      line-height: 7.1rem;
      color: #ffffff;

      span {
        background: #ffffff;
        border-radius: 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.7rem;
        padding: 0.2rem 1.5rem;
        color: #33a9ff;
      }
    }
    .content_bottom_subtitle {
      font-style: normal;
      font-weight: 400;
      font-size: 2.4rem;
      line-height: 1.5rem;
      color: #ffffff;
      margin-bottom: 2.5rem;
    }
    .content_button {
      width: fit-content;
      margin: 0 auto;
      margin-top: 1rem;
      .content_btn {
        width: 21.6rem;
        height: 6.7rem;
        border: 1px solid #ffffff;
        border-radius: 1000px;
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 3.5rem;
        color: #ffffff;
        background: transparent;
      }
    }
  }
}

.connect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .connect_circle_wrapper {
    position: relative;
    overflow: hidden;
    .connect_circle {
      background-color: red;
      border-radius: 1000px;
      position: absolute;
      left: 0;
      top: 0;
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      pointer-events: none;
    }
    .connect_circle_inner {
      background: #ffffff;
      width: 50rem;
      height: 50rem;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      transition: 0.3s ease-in-out;
      &:hover {
        .connect_circle_title {
          color: #ffffff;
        }
      }
      .connect_circle_title {
        font-style: normal;
        font-weight: 700;
        font-size: 4.8rem;
        line-height: 130%;
        text-align: center;
        color: #000000;
        margin-bottom: 2.6rem;
        margin-top: 4rem;
      }
      .connect_circle_icon {
        width: 6rem;
        height: 6rem;
        img {
          max-width: 100%;
          max-height: 100%;
          object-fit: contain;
        }
      }
    }
  }
}

.footer {
  height: 31.7rem;
  display: flex;
  // align-items: center;
  justify-content: center;
  background: #000000;
  .footer_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .footer_top {
    display: flex;
    justify-content: space-between;
    gap: 20rem;
    margin-top: 4.6rem;
    .footer_top_nav {
      display: flex;
      flex-direction: column;
      .link {
        font-style: normal;
        font-weight: 400;
        font-size: 1.5rem;
        line-height: 2.2rem;
        color: #ffffff;
        margin-bottom: 0.5rem;
      }
    }
  }
  .footer_bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.7rem;
    .footer_copy {
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      color: #ffffff;
      opacity: 0.6;
      span {
        font-weight: 600;
      }
    }
    .footer_bottom_right {
      display: flex;
      align-items: flex-end;
      .footer_social {
        display: flex;
        align-items: center;
        .footer_icon {
          width: 2.2rem;
          height: 2.2rem;
          margin-left: 2rem;
          opacity: 0.6;
          svg {
            width: 2.2rem;
            height: 2.2rem;
          }
        }
      }
    }
  }
}
